h1 hogehoge festival page
h2 jade template demo
div
	p
		span programing language no.1 "
			strong=var1
		span " and no.2"
			strong=var2
		span ".
	p
		span my favorite language is "
			strong=var3
		span ".